<div class="layout layout--top">
  <div class="grid grid--cols-1">
    <div class="col col--start gap--[10px]" >
      <div class="title" style="text-align: center;">{{Name}}</div>
      <div class="description clamp--6" style="text-align: left; word-wrap: break-word;">
        <i><b>{{ Description }}</b></i>
      </div>
      <div class="description clamp--2" style="text-align: center; word-wrap: break-word;">
        <b>First Appearance:<br></b> {{FirstComicTitle}}<br>
      </div>
      <div class="row row-center" style="display: flex; justify-content: center;">
        <img class="image-dither" style="width: 220px; height: auto;" src="https://raw.githubusercontent.com/MarkHopper24/Marvel-Character-of-the-Day/refs/heads/main/character.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Marvel_Logo.svg" />
  <span class="title"></span>
  <span class="instance">{{Name}}</span>
</div>
