<div class="value value--small" style="text-align: center; padding:10px"><b>{{Name}}</b></div>
<div class="layout layout--top">
  <div class="grid grid--cols-2">
    <div class="col col--start gap--space-between">
      <div class="value value--xsmall"><b>Character Bio:</b></div>
      <div class="value value--xxsmall">{{ Description }}</div>
      <div class="label clamp--2">
        <b>First Appearance:</b><br>
        {{FirstComicTitle}}
      </div>
      <img class="image" style="width: 100px; height: 100px; margin: 0 auto;" src="https://raw.githubusercontent.com/MarkHopper24/Marvel-Character-of-the-Day/refs/heads/main/comicsQR.jpg"/>
      <span class="description" style="text-align: center;">Comic Gallery</span>
    </div>
    <div class="col col--start">
      <img class="image-dither" style="width: auto; height: 350px;" src="https://raw.githubusercontent.com/MarkHopper24/Marvel-Character-of-the-Day/refs/heads/main/character.jpg"/>
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Marvel_Logo.svg" />
  <span class="title">Character of the Day</span>
  <span class="instance">{{Name}}</span>
</div>
