<div class="layout layout--top">
  <div class="grid grid--cols-2">
    <div class="col col--start gap--[15px]">
      <div class="title" style="text-align: center;"><b>{{Name}}</b></div>
      <div class="value value--xxsmall"><i>{{ Description }}</i></div>
      <div class="label clamp--2" style="text-align: center;">
        <b>First Appearance:<br></b> {{FirstComicTitle}}
      </div>
      <br>
      <img class="image" style="width: 100px; height: 100px; display: block; margin: 0 auto;" src="https://raw.githubusercontent.com/MarkHopper24/Marvel-Character-of-the-Day/refs/heads/main/comicsQR.jpg"/>
      <div class="description"style="text-align: center;">Browse their comics</div>
    </div>
    <div class="col col--center">
      <img class="image-dither" style="width: 400px; height: auto;" src="https://raw.githubusercontent.com/MarkHopper24/Marvel-Character-of-the-Day/refs/heads/main/character.jpg"/>
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Marvel_Logo.svg" />
  <span class="title">Character of the Day</span>
  <span class="instance">{{Name}}</span>
</div>
