<div class="layout layout--top">
  <div class="grid grid--cols-1">
    <div class="col col--start gap--[10px]" >
      <div class="row row-center" style="display: flex; justify-content: center;">
        <img class="image-dither" style="width: auto; height: 180px;" src="https://raw.githubusercontent.com/MarkHopper24/Marvel-Character-of-the-Day/refs/heads/main/character.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Marvel_Logo.svg" />
  <span class="title"></span>
  <span class="instance">{{Name}}</span>
</div>
